@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.b-radio.radio {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Box-shadow on hover */
.b-radio.radio {
  outline: none;
  display: inline-flex;
  align-items: center;
}

.b-radio.radio:not(.button) {
  margin-right: 0.5em;
}

.b-radio.radio:not(.button) + .radio:last-child {
  margin-right: 0;
}

.b-radio.radio + .radio {
  margin-left: 0;
}

.b-radio.radio input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
  outline: none;
  z-index: -1;
}

.b-radio.radio input[type=radio] + .check {
  display: flex;
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
  transition: background 150ms ease-out;
  border-radius: 50%;
  border: 1px solid #7a7a7a;
}

.b-radio.radio input[type=radio] + .check:before {
  content: "";
  display: flex;
  position: absolute;
  left: 50%;
  margin-left: calc(-1.25em / 2);
  bottom: 50%;
  margin-bottom: calc(-1.25em / 2);
  width: 1.25em;
  height: 1.25em;
  transition: transform 150ms ease-out;
  border-radius: 50%;
  transform: scale(0);
  background-color: #00d1b2;
}

.b-radio.radio input[type=radio] + .check.is-white:before {
  background: white;
}

.b-radio.radio input[type=radio] + .check.is-black:before {
  background: #0a0a0a;
}

.b-radio.radio input[type=radio] + .check.is-light:before {
  background: whitesmoke;
}

.b-radio.radio input[type=radio] + .check.is-dark:before {
  background: #363636;
}

.b-radio.radio input[type=radio] + .check.is-primary:before {
  background: #00d1b2;
}

.b-radio.radio input[type=radio] + .check.is-link:before {
  background: #3273dc;
}

.b-radio.radio input[type=radio] + .check.is-info:before {
  background: #3298dc;
}

.b-radio.radio input[type=radio] + .check.is-success:before {
  background: #48c774;
}

.b-radio.radio input[type=radio] + .check.is-warning:before {
  background: #ffdd57;
}

.b-radio.radio input[type=radio] + .check.is-danger:before {
  background: #f14668;
}

.b-radio.radio input[type=radio]:checked + .check {
  border-color: #00d1b2;
}

.b-radio.radio input[type=radio]:checked + .check.is-white {
  border-color: white;
}

.b-radio.radio input[type=radio]:checked + .check.is-black {
  border-color: #0a0a0a;
}

.b-radio.radio input[type=radio]:checked + .check.is-light {
  border-color: whitesmoke;
}

.b-radio.radio input[type=radio]:checked + .check.is-dark {
  border-color: #363636;
}

.b-radio.radio input[type=radio]:checked + .check.is-primary {
  border-color: #00d1b2;
}

.b-radio.radio input[type=radio]:checked + .check.is-link {
  border-color: #3273dc;
}

.b-radio.radio input[type=radio]:checked + .check.is-info {
  border-color: #3298dc;
}

.b-radio.radio input[type=radio]:checked + .check.is-success {
  border-color: #48c774;
}

.b-radio.radio input[type=radio]:checked + .check.is-warning {
  border-color: #ffdd57;
}

.b-radio.radio input[type=radio]:checked + .check.is-danger {
  border-color: #f14668;
}

.b-radio.radio input[type=radio]:checked + .check:before {
  transform: scale(0.5);
}

.b-radio.radio .control-label {
  padding-left: 0.5em;
}

.b-radio.radio.button {
  display: flex;
}

.b-radio.radio[disabled] {
  opacity: 0.5;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check {
  border-color: #00d1b2;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-white {
  border-color: white;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-black {
  border-color: #0a0a0a;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-light {
  border-color: whitesmoke;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-dark {
  border-color: #363636;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-primary {
  border-color: #00d1b2;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-link {
  border-color: #3273dc;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-info {
  border-color: #3298dc;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-success {
  border-color: #48c774;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-warning {
  border-color: #ffdd57;
}

.b-radio.radio:hover input[type=radio]:not(:disabled) + .check.is-danger {
  border-color: #f14668;
}

.b-radio.radio.is-small {
  border-radius: 2px;
  font-size: 0.75rem;
}

.b-radio.radio.is-medium {
  font-size: 1.25rem;
}

.b-radio.radio.is-large {
  font-size: 1.5rem;
}
